*{
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}

body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}


a{  
    color: rgb(231, 24, 17); 
    font-size: 1.2rem;
    text-decoration: none;
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

[class*="col-"]{
    float:left;
    padding: 10px;
}
/*  for mobile   */
[class*="col-"]{
    width: 100%;
}

/*navbar design starts here*/

.navbar{
        background-color: rgb(7, 7, 245);
        padding: 1% 7%;
        text-align: center;
}

.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}



.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
   
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;

}

.navbar-menu a:hover{
    color: black;
    background-color: yellow;
}



.navbar::after{
    content:'';
    display: table;
    clear: both;
}

/* navbar design ends here*/



.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;

}

.profile .top-image{
position: absolute;
width: 120px;
right: 60px;
top: 20px;
transition: width 2s, transform 2s;
}

.profile .top-image:hover{
    width: 150px;
    transform: rotate(360deg);

    }

.profile-desc h1{
    font-size: 3rem;
}

.profile-desc p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
}



.profile .bottom-image{
    position: absolute;
    width: 120px;
    top: 450px;
    left: 60px;
    bottom: 10px;
    transition: width 2s, transform 2s;
    }
    
    .profile .bottom-image:hover{
        width: 150px;
        transform: rotate(360deg);
    
        }
    
.about-me{
    background-color: chartreuse;
    padding: 1% 7%;
    color: black;
    text-align: center;

}
.about-me p{
    text-align: center;
}


.about-me a{
font-size: 1.2rem;
}


.dotted-hr{
    border: dotted 6px black;
    border-bottom: none;
    margin: 20px auto;
    width: 140px;
}

.aboutme-image img{
    border: 5px solid black;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.cv-button{
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.about-me::after{
    clear: both;
    display: table;
    content: '';
}


/*professional experience starts here*/

.professional-experience{
    padding: 1% 0%;
   
}
.professional-experience .card{
    background-color: rgb(239, 243, 14);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s; 

}
.professional-experience .card:hover{
    box-shadow: 0px 4px 8px 5px black;
}

.card-icon{
    text-align: center;

}
.card-icon img{
    margin-top: 20px;
    width: 100px;
}


.rounded-img{
    border: 5px solid black;
    border-radius: 40%;
    padding: 15px;

}

.card-title h2{
    background-color: chocolate;
    text-align: center;
    padding: 10px;
}

.skills-container{
    padding-right: 45px;
}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}

.skills-container li::before{
   content: '';
   position: absolute;
   top: calc(100% + 5px);
   left: 0;
   background-color: chartreuse;
   width: 100%;
   height: 10px;
   border-radius: 1000px;
}

.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgb(19, 20, 17);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;

 }

 .skills-container li.html::after{
     animation-name: html;
 }
 

 @keyframes html{
     to{
         width:90%;
     }
 }



 .skills-container li.css::after{
    animation-name: css;
}


@keyframes css{
    to{
        width:80%;
    }
}


.skills-container li.bootstrap::after{
    animation-name: bootstrap;
}


@keyframes bootstrap{
    to{
        width:75%;
    }
}


.skills-container li.javascript::after{
    animation-name: javascript;
}


@keyframes javascript{
    to{
        width:50%;
    }
}


.skills-container li.jquery::after{
    animation-name: jquery;
}


@keyframes jquery{
    to{
        width:60%;
    }
}


.skills-container li.nodejs::after{
    animation-name: nodejs;
}


@keyframes nodejs{
    to{
        width:60%;
    }
}


.skills-container li.expressjs::after{
    animation-name: expressjs;
}


@keyframes expressjs{
    to{
        width:30%;
    }
}


.skills-container li.github::after{
    animation-name: github;
}


@keyframes github{
    to{
        width:35%;
    }
}


.skills-container li.reactjs::after{
    animation-name: reactjs;
}


@keyframes reactjs{
    to{
        width:55%;
    }
}



.professional-experience{
   
    clear: both;
    display: table;
    content: '';
}

/*professional experience starts here*/


/*achievement-contact*/
.achievement-contact{
    padding: 1% 7%;
    background-color: chartreuse;

}

.contact{
    text-align: center;
}

.contact input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact button{
    border: none;
    border-radius: 12px;
    background-color: chocolate;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100px;
}

.contact-links{
    text-align: center;
}

.media-button .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    background-color: white;
}

.btn:hover{
    background-color: rgb(15, 15, 15);
}


.achievement-contact{
    clear: both;
    display: table;
    content: '';
}

/*footer starts from here*/

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}

.footer-menu a{
    display: block;
    margin: 15px 0px;
    font-size: 1.5rem;
}

.footer-menu a:hover{
    color: slategray;
}

.footer::after{
    clear: both;
    display: table;
    content: '';
}

/*footer ends here*/